<h1>Alunos</h1>

<p>Segue a lista de alunos:</p>

<p *ngIf="!alunos"><em>carregando...</em></p>

    <div class="commands text-right" *ngIf="alunos">
        <button type="submit"
          [routerLink]="['/aluno']"
          class="btn btn-primary"
          style="margin-bottom: 3px;">
          Adicionar novo Aluno
        </button>
    </div>

<table mat-table [dataSource]="alunos" class="table-striped mat-elevation-z8"
       [hidden]="!alunos">
       <!-- matSort (matSortChange)="loadData()"
       matSortActive="{{defaultSortColumn}}"
       matSortDirection="asc" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.Id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let aluno">
      <a [routerLink]="['/aluno', aluno.Id]" routerLinkActive="router-link-active" > {{aluno.Nome}} </a>
    </td>
  </ng-container>

  <!-- Period Column -->
  <ng-container matColumnDef="periodo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Período</th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.Periodo}} </td>
  </ng-container>

  <!-- Av1 Column -->
  <ng-container matColumnDef="av1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Av1</th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.Av1}} </td>
  </ng-container>

  <!-- Av2 Column -->
  <ng-container matColumnDef="av2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Av2</th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.Av2}} </td>
  </ng-container>

  <!-- Bonus Column -->
  <ng-container matColumnDef="bonus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bonus</th>
    <td mat-cell *matCellDef="let aluno"> {{aluno.Bonus}} </td>
  </ng-container>

  <!-- Final Grade Column -->
  <ng-container matColumnDef="notaFinal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nota Final</th>
    <td mat-cell *matCellDef="let aluno"> {{media(aluno.Av1, aluno.Av2, aluno.Bonus)}} </td>
  </ng-container>

   <!-- Status Column -->
   <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let aluno"> {{status(media(aluno.Av1, aluno.Av2, aluno.Bonus))}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <table class='table table-stripped' aria-labelledby="tableLabel"
       [hidden]="!alunos">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Período</th>
      <th>Av1</th>
      <th>Av2</th>
      <th>Bonus</th>
      <th>Nota Final</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos">
      <td>{{aluno.Id}}</td>
      <td style="text-align:justify; padding-left: 20px;">{{aluno.Nome}}</td>
      <td>{{aluno.Periodo}}</td>
      <td>{{aluno.Av1}}</td>
      <td>{{aluno.Av2}}</td>
      <td>{{aluno.Bonus}}</td>
      <td>{{media(aluno.Av1, aluno.Av2, aluno.Bonus)}}</td>
      <td>{{status(media(aluno.Av1, aluno.Av2, aluno.Bonus))}}</td>
    </tr>
  </tbody>
</table> -->
