<div class="html">
  <div class="body">


<div class="left-side">
  <figure class="avatar">
  <img class="myimage"
  src="http://localhost:5000/img/eu.png"
  title="Minha Imagem de perfil"
  />
  </figure>
  <h2>Personal Background</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nisi vel tempora totam delectus assumenda perferendis facere reprehenderit officia, saepe iste? Alias suscipit obcaecati, quis cupiditate nemo ab eius porro.</p>
  <h2>Personal Background</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nisi vel tempora totam delectus assumenda perferendis facere reprehenderit officia, saepe iste? Alias suscipit obcaecati, quis cupiditate nemo ab eius porro.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni distinctio odio aliquid consequatur ut quaerat assumenda veniam quia similique, facere at, voluptatum dignissimos quidem nulla quibusdam provident ducimus. Dignissimos, praesentium.</p>
</div>

<div class="right-side">
  <header>
      <h1>Jonatas Bento</h1>
      <h6>Fullstack Developer</h6>
  </header>

  <div class="content">


      <aside class="info-box">
          <h2>Personal Background</h2>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam necessitatibus tenetur quod hic labore voluptatum quos nulla aliquid id sunt quam ad
              accusantium alias aspernatur veniam similique magnam, laborum fugit.
          </p>
      </aside>
      <aside>
          <h2>Personal Background</h2>
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam necessitatibus tenetur quod hic labore voluptatum quos nulla aliquid id sunt quam ad
              accusantium alias aspernatur veniam similique magnam, laborum fugit.
          </p>
      </aside>
      <aside class="info-box">
          <h2>Personal Background</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Ea, molestiae veritatis! Beatae repellat quae ullam fugiat aliquam nihil nisi voluptatem distinctio dicta? Totam, tempora atque dignissimos possimus dolor id odio.
          </p>
        </aside>
        <aside class="info-box">
          <h2>Personal Background</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Ea, molestiae veritatis! Beatae repellat quae ullam fugiat aliquam nihil nisi voluptatem distinctio dicta? Totam, tempora atque dignissimos possimus dolor id odio.
          </p>
        </aside>
        <aside class="info-box">
          <h2>Personal Background</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Ea, molestiae veritatis! Beatae repellat quae ullam fugiat aliquam nihil nisi voluptatem distinctio dicta? Totam, tempora atque dignissimos possimus dolor id odio.
            </p>
        </aside>


</div>
</div>
</div>
